---
import Pricing from "../../components/Pricing.astro";
import Layout from "../../layouts/Layout_JA.astro";
---

<Layout
  title="料金プラン | Talk Story English"
  description="Talk Story Englishでは、日英バイリンガルアメリカ人講師と月2回の50分の個別レッスンがたったの¥8000、または月4回のレッスンが¥14000。ネイティブスピーカーと楽しく英語を練習しましょう！"
>
  <main>
    <div id="testimonials"></div>
    <Pricing />
  </main>
</Layout>
