---
import Pricing from "../../components/Pricing.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout
  title="Pricing | Talk Story English"
  description="Discover affordable English learning at Talk Story English. Enjoy personalized 50-minute lessons for just $70/month (2 lessons) or $120/month (4 lessons). Practice makes perfect!"
>
  <main>
    <div id="testimonials"></div>
    <Pricing />
  </main>
</Layout>
