---
import Pricing from "../../components/Pricing.astro";
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Talk Story: Pricing">
	<main>
		<div id="testimonials" />
		<Pricing />
	</main>
</Layout>


