---
import Pricing from "../../components/Pricing.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Pricing | Talk Story English">
  <main>
    <div id="testimonials"></div>
    <Pricing />
  </main>
</Layout>
