---
// Import statements (if any) go here
// Since we're using a date function, we include that in the script
import { Image } from 'astro:assets';
import LanguagePicker from '../components/LanguagePicker.astro';
import { getLangFromUrl, useTranslatedPath, useTranslations } from '../i18n/utils';
import TalkStoryLogoWithSlogan from '../../public/TalkStoryLogoWithSlogan.png'
const currentYear = new Date().getFullYear();
const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);
const t = useTranslations(lang);
---

<footer class="px-6 text-gray-600 body-font ">
  <div class="absoute container py-8 mx-auto flex items-center max-w-7xl lg:flex-row flex-col">
    <a
      href={translatePath('/')}
      class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900"
    >
      <Image class="h-16 w-auto mr-4" src={TalkStoryLogoWithSlogan} alt="Logo" />
      <span class="sr-only">Talk Story</span>
    </a>
    <p class="text-sm text-gray-500 sm:ml-6 md:mt-0 mt-4">
      <!-- © {currentYear} ケントス LLC -->
    </p>
    <div class="sm:ml-6 sm:mt-0 mt-4">
    <LanguagePicker />
    </div>
  </div>
</footer>