---
const featuredTestimonial = {
  body: `Kent is an incredibly kind and wonderful teacher. He doesn't just teach English; he also shares fascinating insights about Hawaiian culture and language. His lessons are always engaging and informative.`,
};
const testimonials = [
  [
    [
      {
        body: `The teacher has a warm and friendly demeanor, and patiently listens even when students are struggling to find the right words, making it easy to feel safe and trust in focusing on the lesson. Furthermore, the follow-up before and after lessons is very thorough, not only confirming the needs of the lesson but also providing a wealth of information on related topics. It's a wonderful teacher who encourages continuing English learning and inspires through engaging conversation.`,
      },
      {
        body: `He has a clear voice and can also speak Japanese. I feel relaxed and am able to take the lesson.`
      }
    ],
    [
      {
        body: 'Kent is a good teacher. His lesson makes me laugh and relax. Also you will get new things from his conversation. I enjoy his lesson every time.:)',
      }
    ],
  ],
  [
    [
      {
        body: 'He is friendly and kind, always encourages me to speak!',
      },
      {
        body: `The advice was very effective in a short amount of time. Thank you! ^^`
      }
    ],
    [
      {
        body: `Kent is a caring, calm, and intelligent tutor who makes me motivated. I'm grateful to meet him through Cambly because he's such a great person, not only as a teacher.`,
      },
      {
        body: `An experienced tutor always encourages you to speak more. Kent has excellent pronunciation, from which I learn a lot. He gives me the confidence to practice English and Japanese in our class. He is a fantastic teacher, very attentive and enthusiastic in teaching, and I really enjoy learning from Kent.`
      }
    ],
  ],
];

function classs(...classes) {
  return classes.filter(Boolean).join(' ');
}
---

    <div class="relative isolate pb-32 pt-24 sm:pt-40">
      <div
        class="absolute inset-x-0 top-1/2 -z-10 -translate-y-1/2 transform-gpu overflow-hidden opacity-30 blur-3xl"
        aria-hidden="true"
      >
        <div
          class="ml-[max(50%,38rem)] aspect-[1313/771] w-[82.0625rem] bg-gradient-to-tr from-[#34d399] to-[#60a5fa]"
          style={{
            clipPath:
              'polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)',
          }}
        />
      </div>
      <div
        class="absolute inset-x-0 top-0 -z-10 flex transform-gpu overflow-hidden pt-32 opacity-25 blur-3xl sm:pt-40 xl:justify-end"
        aria-hidden="true"
      >
        <div
          class="ml-[-22rem] aspect-[1313/771] w-[82.0625rem] flex-none origin-top-right rotate-[30deg] bg-gradient-to-tr from-[#34d399] to-[#60a5fa] xl:ml-0 xl:mr-[calc(50%-12rem)]"
          style={{
            clipPath:
              'polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)',
          }}
        />
      </div>
      <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-xl text-center">
          <p class="mt-2 text-3xl font-thin tracking-tight text-gray-900 sm:text-4xl">
            Feedback from students
          </p>
        </div>
        <div class="mx-auto mt-16 grid max-w-2xl grid-cols-1 grid-rows-1 gap-8 text-sm leading-6 text-gray-900 sm:mt-20 sm:grid-cols-2 xl:mx-0 xl:max-w-none xl:grid-flow-col xl:grid-cols-4">
          <figure class="rounded-2xl bg-white shadow-lg ring-1 ring-gray-900/5 sm:col-span-2 xl:col-start-2 xl:row-end-1">
            <blockquote class="p-6 text-lg font-normal leading-7 tracking-tight text-gray-900 sm:p-12 sm:text-xl sm:leading-8">
              <p>{`“${featuredTestimonial.body}”`}</p>
            </blockquote>
          </figure>
          {testimonials.map((columnGroup, columnGroupIdx) => (
            <div
              class="space-y-8 xl:contents xl:space-y-0"
            >
              {columnGroup.map((column, columnIdx) => (
                <div
                  class={classs(
                    (columnGroupIdx === 0 && columnIdx === 0) ||
                      (columnGroupIdx === testimonials.length - 1 &&
                        columnIdx === columnGroup.length - 1)
                      ? 'xl:row-span-2'
                      : 'xl:row-start-1',
                    'space-y-8'
                  )}
                >
                  {column.map((testimonial) => (
                    <figure
                      class="rounded-2xl bg-white p-6 shadow-lg ring-1 ring-gray-900/5"
                    >
                      <blockquote class="text-gray-900">
                        <p>{`“${testimonial.body}”`}</p>
                      </blockquote>
                    </figure>
                  ))}
                </div>
              ))}
            </div>
          ))}
        </div>
      </div>
    </div>