---
import Layout from "../../../layouts/Layout_JA.astro";
import Team from "../../../components/Team.astro";
---

<Layout
  title="講師の紹介 | Talk Story English"
  description="フレンドリーで熱心な日英バイリンガルアメリカ人講師と安心して英語に自信を付けましょう。より深い友情や異文化への理解につながり、最終的には、より豊かで幸せな人生を送ることにつながる。それがTalk Story Englishのミッションです！"
>
  <main>
    <Team />
  </main>
</Layout>
