---
import Layout from "../../../layouts/Layout_JA.astro";
import Team from "../../../components/Team.astro";
---

<Layout
  title="講師の紹介 | Talk Story English"
  description="Talk Story Englishでは、温かさ、親しみやすさ、アロハを大切にしたハワイ発のオンライン英会話サービス。ハワイ在住日英バイリンガルのアメリカ人講師。"
>
  <main>
    <Team />
  </main>
</Layout>
