---
import Layout from '../../../layouts/LayoutJapan.astro';
import Team from "../../../components/Team.astro";
---

<Layout title="講師の紹介 | Talk Story English">
	<main>
		<Team />
	</main>
</Layout>


