---
import Layout from '../../../layouts/Layout.astro';
import Testimonials from "../../../components/Testimonials";
---

<Layout title="Eigo Dojo">
	<main>
		<div id="testimonials" />
		<Testimonials />
	</main>
</Layout>


