---
import Layout from "../../../layouts/Layout_JA.astro";
import Testimonials from "../../../components/Testimonials.astro";
---

<Layout
  title="生徒の声 | Talk Story English"
  description="Talk Story Englishでは、持ち前の温かさ、親しみやすさ、忍耐力で皆様を安心に英語に自信をつけていただくお手伝いをさせてください。Let’s Talk Story, Practice Makes Perfect."
>
  <main>
    <div id="testimonials"></div>
    <Testimonials />
  </main>
</Layout>
