---
import Layout from '../../../layouts/Layout.astro';
import Testimonials from "../../../components/Testimonials.astro";
---

<Layout title="生徒の声 | Talk Story English">
	<main>
		<div id="testimonials" />
		<Testimonials />
	</main>
</Layout>


