---
import Layout from "../../../layouts/Layout_JA.astro";
import Testimonials from "../../../components/Testimonials.astro";
---

<Layout
  title="生徒の声 | Talk Story English"
  description="Talk Story Englishでは、温かさ、親しみやすさ、アロハを大切にしたハワイ発のオンライン英会話サービス。ハワイ在住日英バイリンガルのアメリカ人講師。"
>
  <main>
    <div id="testimonials"></div>
    <Testimonials />
  </main>
</Layout>
