---
import Layout from "../../layouts/Layout.astro";
import Team from "../../components/Team.astro";
---

<Layout title="Meet Your Tutor | Talk Story English">
  <main>
    <Team />
  </main>
</Layout>
