---
import Layout from "../../../layouts/Layout.astro";
import Testimonials from "../../../components/Testimonials.astro";
---

<Layout
  title="Testimonials | Talk Story English"
  description="At Talk Story English, we embrace warmth, friendliness and Aloha in every session. Join us in your journey to get comfortable and build self confidence in English.! Let's talk story!"
>
  <main>
    <div id="testimonials"></div>
    <Testimonials />
  </main>
</Layout>
