---
import Footer from '../components/Footer.astro';
import Navbar from '../components/Navbar';
import { getLangFromUrl } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
export interface Props {
	title: string;
}

const { title } = Astro.props;
const url = Astro.url;
---

<!DOCTYPE html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon1.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="https://rsms.me/inter/inter.css">
		<meta name="google-site-verification" content="0B_pubxV8cbJ0b4PFIMeEm13lyASSN28RcEaG6ISf9I" />
		<meta name="description" content="Practice makes perfect! Let’s talk story!Embark on a journey to get comfortable and boost your self-confidence in your English. At Talk Story English, we create a learning environment where warmth, friendliness, and Aloha are the heart of every session. ">
		<title>{title}</title>
	</head>
<body class="flex flex-col min-h-screen">
	<Navbar url={url} client:only="react" />
	<slot />
	<Footer />
</body>
</html>
<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	}
	html {
		font-family: reckless,serif;
		background-color: white;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
