---
import Layout from "../../../layouts/Layout_JA.astro";
import Contact from "../../../components/Contact.tsx";
import { getLangFromUrl } from "../../../i18n/utils";
const lang = getLangFromUrl(Astro.url);
---

<Layout
  title="お問い合わせ | Talk Story English"
  description="まずは、40分の無料体験から。是非皆様の英語力に自信をつける旅のお手伝いをさせていただきたいです。皆様と「talk story」することを楽しみにしております！"
>
  <main>
    <Contact client:only="react" lang={lang} />
  </main>
</Layout>
