---
import Layout from '../../layouts/Layout.astro';
import Testimonials from "../../components/Testimonials.astro";
---

<Layout title="Talk Story: Testimonials">
	<main>
		<div id="testimonials" />
		<Testimonials />
	</main>
</Layout>


