---
import Layout from "../../layouts/Layout.astro";
import Hero from "../../components/Hero.astro";
---

<Layout
  title="Talk Story English"
  description="Talk Story English is a Hawaii based online English tutoring service where warmth, friendliness, and Aloha are the heart of every session. Let’s talk story!"
>
  <main>
    <div id="hero"></div>
    <Hero />
  </main>
</Layout>
