---
import Pricing from "../../../components/Pricing.astro";
import Layout from "../../../layouts/Layout.astro";
---

<Layout title="Talk Story: 料金プラン">
	<main>
		<div id="testimonials" />
		<Pricing />
	</main>
</Layout>


