---
import Pricing from "../../../components/Pricing.astro";
import Layout from "../../../layouts/Lgayout.astro";
---

<Layout title="Eigo Dojo">
	<main>
		<div id="testimonials" />
		<Pricing />
	</main>
</Layout>


