---
import Pricing from "../../../components/Pricing.astro";
import Layout from "../../../layouts/Layout_JA.astro";
---

<Layout title="料金プラン | Talk Story English">
  <main>
    <div id="testimonials"></div>
    <Pricing />
  </main>
</Layout>
