---
import Layout from "../../layouts/Layout_JA.astro";
import Hero from "../../components/Hero.astro";
---

<Layout title="Talk Story English">
  <main>
    <div id="hero"></div>
    <Hero />
  </main>
</Layout>
