---
import Layout from '../../layouts/Layout.astro';
import Hero from '../../components/Hero.astro';
---

<Layout title="Talk Story English">
	<main>
		<div id="hero2" />
		<Hero />
	</main>
</Layout>
