---
import Layout from '../layouts/Layout.astro';
// import Card from '../components/Card.astro';
import Hero from '../components/Hero';
import Hero2 from '../components/Hero2';
import Testimonials from '../components/Testimonials';
import MainFeatures from  '../components/MainFeatures';
import Pricing from "../components/Pricing";
import Contact from "../components/Contact";
import Footer from "../components/Footer";
import Team from "../components/Team";
---

<Layout title="Eigo Dojo">
	<main>
		<div id="hero2" />
		<Hero2 client:load/>
	</main>
</Layout>
